body 
{
    background-image: url("lb1.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
    background-attachment: fixed;
}
.menu, .menu td a
{
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    color: brown;
    padding-right: 5px;
}
h1 
{
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 10px;
}
#pageTitle{
    display:inline-block;
    font-size: 30px;
    padding: 0px 10px 0px 10px;
    text-align: center;
    border: 1.5px solid brown;
    border-left-width: 10px;
}